body,
button,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

button {
  border: none;
  border-radius: 5px;
  height: 35px;
}

textarea {
  width: 80%;
  height: auto;
  max-height: 134px;
  vertical-align: middle;
  padding: 5px;
  line-height: 20px;
  font-size: 100%;
  resize: none;
  border-radius: 5px;
  border-width: 2px;
  outline-width: 5px;
}


button:hover,
button:focus,
button:active {
  background-color: #ddd;
}

img {
  vertical-align: middle;
}
