body,
button,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

button {
  border: none;
  border-radius: 5px;
  height: 35px;
}

textarea {
  width: 80%;
  height: auto;
  max-height: 134px;
  vertical-align: middle;
  padding: 5px;
  line-height: 20px;
  font-size: 100%;
  resize: none;
  border-radius: 5px;
  border-width: 2px;
  outline-width: 5px;
}


button:hover,
button:focus,
button:active {
  background-color: #ddd;
}

img {
  vertical-align: middle;
}

#sendRequestDiv {
  margin: 5px;
  text-align: center;
}

.chat-div {
  margin-bottom: 2px;
  border: 4px solid;
  border-left: none;
  border-right: none;
  padding: 5px;
}

.user-name {
  margin-top: 5px;
  margin-bottom: 5px;
}

.send-form input {
  width: 80%;
  border: 2px solid;
}

.send-form button {
  margin: 5px;
}

.msg {
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
}

.msg div {
  background-color: #ddd;
  border-radius: 6px;
  padding: 5px;
  max-width: 80%;
  word-wrap: break-word;
  cursor: copy;
}